<section id="aux-services-wrap" class="aux-services-wrap p-t-b-120">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Our Services</h2>
                <p class="aux">By using leading eadge technologies to deliver above and beyond solutions that exceed expectations, we can help you with the following:</p>
            </div>
            <div class="col-md-12 col-lg-6 col-sm-12 mb-4 mb-lg-0">
                <div class="row m-0">
                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body d-flex pt-4 pb-4 ">
                                <div class="mr-2">
                                    <i class="eva eva-pie-chart-outline mr-1 text-36 "></i>
                                </div>
                                <div class="">
                                    <h4 class="card-title font-weight-bold">Web Applications</h4>
                                    <p class="m-0">Websites, online forms, surveys, customer portals, dashboards, PWAs, blogs, etc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of col  -->
                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body d-flex pt-4 pb-4">
                                <div class="mr-2"><i class="eva eva-clock-outline mr-1 text-36 "></i></div>
                                <div class="">
                                    <h4 class="card-title font-weight-bold"> Mobile Applications</h4>
                                    <p class="m-0">We use Ionic Framework to build cross-platform native experiences.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of col  -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0 mb-sm-0">
                        <div class="card">

                            <div class="card-body d-flex pt-4 pb-4">
                                <div class="mr-2"><i class="eva eva-lock-outline mr-1 text-36 "></i></div>
                                <div class="">
                                    <h4 class="card-title font-weight-bold">Desktop Software</h4>
                                    <p class="m-0">Scheduled reports, batch jobs, email receivers, customer management system, FTP automation.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of col  -->
                    <div class="col-md-6 col-sm-6 mb-0 mb-lg-0 mb-md-0 mb-sm-0">
                        <div class="card">
                            <div class="card-body d-flex pt-4 pb-4">
                                <div class="mr-2"><i class="eva eva-pricetags-outline mr-1 text-36 "></i></div>
                                <div class="">
                                    <h4 class="card-title font-weight-bold">Cloud Software</h4>
                                    <p class="m-0">Customer portals, dashboards, communications manager, file manager.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of col  -->
                </div>
            </div>
            <!-- end of col6 row -->
            <div class="col-md-12 col-lg-5 col-sm-12 offset-lg-1">

                <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
                    <ngu-tile *nguCarouselDef="let item; let i = index">
                        <img class="img-responsive  mb-4 " [src]="item.photo" alt="Card image cap">
                    </ngu-tile>

                    <span NguCarouselPrev
                        class="ngu_control_button half-button  leftRs btn btn-circle btn-white btn-shadow"
                        [style.opacity]="myCarousel.isFirst ? 0.5:1"><i class="eva eva-chevron-left-outline"></i></span>
                    <span NguCarouselNext
                        class="ngu_control_button half-button  rightRs btn btn-circle btn-white btn-shadow"
                        [style.opacity]="myCarousel.isLast ? 0.5:1"><i class="eva eva-chevron-right-outline"></i></span>
                </ngu-carousel>
            </div>

        </div>
    </div>
</section>
