<section id="aux-technologies-wrap" class="aux-technologies-wrap p-15px-tb auxilium-blue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 md-m-40px-t">
                <div class="blockquote-wrapper">
                    <div class="blockquote">
                      <h1>
                        People don't care how much you know until they know how much you care
                       </h1>
                      <h4><strong>- Theodore Roosevelt</strong></h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
