<section id="about-wrap" class="about-wrap p-t-b-120">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">About Us</h2>
                <p class="aux">
                    <strong>AUXILIUM</strong> is the Latin word for aid. <strong>Aid</strong> means to provide support for or relief to; help. 
                    At <strong>AuxiliumWeb</strong> we can help your business in any of the following areas:
                </p>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card o-hidden text-left">
                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-paper-plane"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title">Bring a startup to market</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->

            <div class="col-md-6 mb-4">
                <div class="card o-hidden text-left">
                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-shopping-bag-outline"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title">Automate workflows</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->

            <div class="col-md-6 mb-4">
                <div class="card o-hidden text-left">
                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-cloud-upload-outline"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title">Scaling business</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->

            <div class="col-md-6 mb-4">
                <div class="card o-hidden text-left">
                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-people-outline"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title">Improving customer experience</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->

            <div class="col-md-6  mb-lg-0 mb-md-0">
                <div class="card o-hidden text-left">
                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-smartphone-outline"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title">Engaging audiences</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->

            <div class="col-md-6  mb-lg-0 mb-md-0">
                <div class="card o-hidden text-left">
                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-swap-outline"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title">Outdated technology</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->

        </div>
    </div>
</section>