<section id="about" class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="row about-image">
                    <div class="col-6 col-lg-6 col-md-6">
                        <div class="image">
                            <img src="assets/img/about-img4.png" alt="about">
                        </div>
                    </div>

                    <div class="col-6 col-lg-6 col-md-6">
                        <div class="image">
                            <img src="assets/img/about-img2.png" alt="about">
                        </div>
                    </div>

                    <div class="col-6 col-lg-6 col-md-6">
                        <div class="image mt-30">
                            <img src="assets/img/about-img3.png" alt="about">
                        </div>
                    </div>

                    <div class="col-6 col-lg-6 col-md-6">
                        <div class="image mt-30">
                            <img src="assets/img/about-img1.png" alt="about">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span>About AuxiliumWeb</span>
                    <h2>We Are a <b>Custom Software</b> Provider</h2>
                    <p>
                        In today’s digital economy, we use creativity of code to solve business problems. We specialize in building custom software solutions 
                        for startups and small businesses. If you're looking for a partner to help you compete, we are ready to partner with you.</p>
                    <ul>
                        <li>Bring a startup to market</li>
                        <li>Scale your business</li>
                        <li>Develop solutions to engage audiences</li>
                        <li>Automate workflows</li>
                        <li>Improve customer experience</li>
                        <li>Modernize legacy technology</li>
                    </ul>
                    <p>We are an experienced and talented team of passionate consultants who live and breathe code.</p>
                </div>
            </div>
        </div>
    </div>
</section>