<section class="footer_wrap" id="footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">
                    <div class="">
                        <h4 class="card-title font-weight-bold">AuxiliumWeb</h4>
                        <p class="">We help small businesses with all their web needs, including building custom software solutions. Is your business ready to compete?</p>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">
                    <div class=" ">
                        <h4 class="card-title font-weight-bold">Pages</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li><a href="#" scrollTo="aux-intro-wrap">Home</a></li>
                                <li><a href="#" scrollTo="aux-about-wrap">About Us</a></li>
                                <li><a href="#" scrollTo="aux-services-wrap">Services</a></li>
                                <li><a href="#" scrollTo="aux-works-wrap">Our Work</a></li>
                                <li><a href="#" scrollTo="aux-teams-wrap">Team</a></li>
                                <li><a href="#" scrollTo="aux-contacts-wrap">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4 mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">
                    <div class="">
                        <h4 class="card-title font-weight-bold">Our Services</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li>
                                    <i class="eva eva-checkmark-outline mr-2 text-success"></i>
                                    <span class="aux-font-small">Bring a startup to market</span>
                                </li>
                                <li>
                                    <i class="eva eva-checkmark-outline mr-2 text-success"></i>
                                    <span class="aux-font-small">Scaling business</span>
                                </li>
                                <li>
                                    <i class="eva eva-checkmark-outline mr-2 text-success"></i> 
                                    <span class="aux-font-small">Engaging audiences</span>
                                </li>
                                <li>
                                    <i class="eva eva-checkmark-outline mr-2 text-success"></i> 
                                    <span class="aux-font-small">Automate workflows</span>
                                </li>
                                <li>
                                    <i class="eva eva-checkmark-outline mr-2 text-success"></i> 
                                    <span class="aux-font-small">Improving customer experience</span>
                                </li>
                                <li>
                                    <i class="eva eva-checkmark-outline mr-2 text-success"></i> 
                                    <span class="aux-font-small">Outdated technology</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3  mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">
                    <div class="">
                        <h4 class="card-title font-weight-bold">Technologies We Use</h4>
                        <div class="address-wrap mb-3">
                            <ul class="list-group list-unstyled">
                                <li class="">
                                    <i class="eva eva-code mr-2"></i>
                                    Angular
                                </li>
                            </ul>
                        </div>
                        <div class="address-wrap mb-3">
                            <ul class="list-group list-unstyled">
                                <li class="">
                                    <i class="eva eva-code-outline mr-2"></i>
                                    Ionic Framework
                                </li>
                            </ul>
                        </div>
                        <div class="address-wrap mb-3">
                            <ul class="list-group list-unstyled">
                                <li class="">
                                    <i class="eva eva-code mr-2"></i>
                                    .NET Core API
                                </li>
                            </ul>
                        </div>
                        <div class="address-wrap mb-3">
                            <ul class="list-group list-unstyled">
                                <li class="">
                                    <i class="eva eva-code mr-2"></i>
                                    Firebase
                                </li>
                            </ul>
                        </div>
                        <div class="address-wrap mb-3">
                            <ul class="list-group list-unstyled">
                                <li class="">
                                    <i class="eva eva-code mr-2"></i>
                                    SQL Server 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>