.intro-nine-Wrap {
  padding: 300px 0px 40px 0px;
  color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 99;
  height: 100vh;
  .intro-nine-RightSection {
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
    background: transparent !important;
  }
  &:after {
    content: "";
    display: block;
    height: 100%;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

@media only screen and (max-width: 992px) {
  .intro-nine-Wrap {
    .intro-nine-LeftSection {
      margin-bottom: 0px;
    }
  }
}

.bg-cover {
  background-size: cover; 
}

.bg-center {
  background-position: center; 
}

.bg-no-repeat {
  background-repeat: no-repeat; 
}

.home-banner-01 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 800;
}
.home-banner-01 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #fff;
}
.home-banner-01 p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (max-width: 375px) {
  .home-banner-01 h1 {
    font-size: 50px;
    font-weight: 500;
  }
  .home-banner-01 h2 {
    font-size: 25px;
    font-weight: 500;
  }
  .home-banner-01 p {
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .intro-nine-Wrap {
    padding: 150px 0px 40px 0px;
  }
}

.intro-nine-Buttons {
  padding-top: 50px;
}