<section id="intro-wrap" class="intro-nine-Wrap bg-cover bg-center bg-no-repeat text-center text-white" style="background-image: url(./assets/images/bg1.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-3 home-banner-01">
                <h1 class="font-weight-bold text-white text-42 mb-3 t-shadow">Business is now Digital</h1>
                <h2 class="mb-4 t-shadow">Is your business ready to compete?</h2>
                <div class="intro-nine-Buttons">
                    <a name="" id="" routerLink="/sessions/signin" class="btn btn-outline-white btn-lg pl-5 pr-5 pb-2 mr-2 mb-4 text-uppercase half-button" href="#" role="button">
                        Sign in
                    </a>
                    <a id="" routerLink="/sessions/signup" class="btn btn-warning btn-lg pl-5 pr-5 pb-2 mb-4 text-uppercase half-button" href="#" role="button">
                        Sign up
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
