<section id="teams-wrap" class="team-wrap p-t-b-120 light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12  section-header mb-5">
                <h2 class="font-weight-bold">Meet our Team</h2>
                <p class="aux">
                    Our team is not just dedicated to making technology work for your business, we're committed to helping 
                    you explore the digital market, identify opportunities, and then position your organisation for success.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body aux-height-100 text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/luis-cabrera.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Luis</h5>
                        <p class="mt-0">Director</p>
                        <button class="btn btn-gradient half-button">Contact</button>
                        <div class="card-socials-simple mt-4">
                            <a href="https://twitter.com/gigocabrera" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/aboutluiscabrera/" class="text-20 mr-2">
                                <i class="eva eva-linkedin linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body aux-height-100 text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/3.png" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Gina</h5>
                        <p class="mt-0">Administrator</p>
                        <button class="btn btn-gradient half-button">Contact</button>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-3 col-sm-6  mb-lg-0 mb-md-0 mb-sm-0 mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body aux-height-100 text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/1.png" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Andres</h5>
                        <p class="mt-0">Developer</p>
                        <button class="btn btn-gradient half-button">Contact</button>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0 mb-md-0 mb-sm-0  ">
                <div class="card card-profile-1">
                    <div class="card-body aux-height-100 text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/2.png" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Paulina</h5>
                        <p class="mt-0">QA Testing / Analytics</p>
                        <button class="btn btn-gradient half-button">Contact</button>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>