<section id="aux-technologies-wrap" class="aux-technologies-wrap p-t-b-120 light-gray">
    <div class="container">
        <div class="row logo-box-1 justify-content-md-center">
            <div class="col-sm-4 col-md-2 m-15px-tb text-center">
                <div class="svg-icon theme-color m-10px-b">
                    <img src="assets/images/angular_gray.svg" title="" alt="">
                </div>
            </div>
            <div class="col-sm-4 col-md-2 m-15px-tb text-center">
                <div class="svg-icon theme-color m-10px-b">
                    <img src="assets/images/ionic_gray.svg" title="" alt="">
                </div>
            </div>
            <div class="col-sm-4 col-md-2 m-15px-tb text-center">
                <div class="svg-icon theme-color m-10px-b">
                    <img src="assets/images/netcore_gray.svg" title="" alt="">
                </div>
            </div>
            <div class="col-sm-4 col-md-2 m-15px-tb text-center">
                <div class="svg-icon theme-color m-10px-b">
                    <img src="assets/images/firebase_gray.svg" title="" alt="">
                </div>
            </div>
            <div class="col-sm-4 col-md-2 m-15px-tb text-center">
                <div class="svg-icon theme-color m-10px-b">
                    <img src="assets/images/sqlserver_gray.svg" title="" alt="">
                </div>
            </div>
            <div class="col-sm-4 col-md-2 m-15px-tb text-center">
                <div class="svg-icon theme-color m-10px-b">
                    <img src="assets/images/github_gray.svg" title="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
