<section class="cta-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-8">
                <div class="cta-content">
                    <h3>We're ready to start building <b>awesome</b> things for you</h3>
                    <span>Start a project with AuxiliumWeb now!</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-right">
                <a href="#contact" class="btn btn-primary">Start a Project</a>
            </div>
        </div>
    </div>
</section>